body {
    background-color: darkslategray;
    font-family: monoid;
}

h1  {
    background-color: slategrey;
    text-align: center;
    font-family: monoid;
    text-shadow: 2px 2px darkslategray;
}

h2  {
    text-align: center;
    font-family: monoid;
}

p   {
    font-family: monoid;
}

hr  {
    width: fit-content;
    height: 5px;
    color: slategray;
    background-color: slategray;
}
